
@{
    ViewBag.Title = "enregistrementOK";
}

<h2>enregistrementOK</h2>
<p>votre compte a bien été creé, un email de confirmaion vous a été envoyé, merci de le consulter pour valider la création de votre compte.</p>

